test.xsd

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. 
-->
<xsd:schema xmlns="http://stock.com/schemas/services/stock"
    xmlns:tns="http://stock.com/schemas/services/stock"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"  targetNamespace="http://stock.com/schemas/services/stock">

<xsd:element name="add">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="x" type="xs:double"/>
                        <xsd:element name="y" type="xs:double"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
